[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = {extras = ["redis"], version = "*"}
gunicorn = "*"
requests = "*"
typer = {extras = ["all"], version = "*"}
netCDF4 = "*"
pandas = "*"
dash = "*"
pydantic-settings = "*"
sentry-sdk = {extras = ["flask"], version = "*"}

[dev-packages]
pytest = "*"
coverage = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
