[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = {extras = ["redis"], version = "*"}
dash = "*"
gunicorn = "*"
influxdb-client = {extras = ["extra"], version = "*"}
netCDF4 = "*"
pandas = "*"
plotly = "*"
pydantic-settings = "*"
requests = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
typer = {extras = ["all"], version = "*"}

[dev-packages]
coverage = "*"
pytest = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
